header {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: royalblue;
}

.fi {
    text-align: center;
    color: red;
    font-weight: bold;
}

p {
    text-align: center;
    color: black;
}
